{{ block title }}
Economic Conjoint Demo
{{ endblock }}

{{ block content }}

<p>
    In each task, you will see two candidate photos.
</p>

<p>
    You may reveal a small amount of information about each candidate:
    ideology, party, and age.
</p>

<p>
    Your task is to guess which candidate received more votes in the real election.
</p>

<p>
    One of the two tasks will include a visible timer. In that timed task, the longer you take,
    the fewer points you earn if your answer is correct.
</p>

<p>
    Click “Next” to begin.
</p>

{{ next_button }}

{{ endblock }}